version: '3.8'
services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    command: --check-caps false
    restart: always
    ports: 
      - 1972
      - 52773
      - 53773
    volumes:
    #  - ~/iris.key:/usr/irissys/mgr/iris.key
      - ./:/irisdev/app
